extends layout
block content
    .row
        .spacer-45
        .col-md-12.text-center
            p.claim Create and manage your Lisk
                strong Multi-signature Accounts
            p.small A multi-signature account is a shared account where a transaction is valid only if signed by the co-owners account.
    .spacer-25
    .row
        .col-md-8.col-md-offset-2
            hr
    .spacer-25
    span(ng-view)
