doctype html
html
    head
        title lisk | Multisig manager
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
        meta(name='author', content='andreafspezial')
        // bower:css
        link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='bower_components/font-awesome/css/font-awesome.css')
        // endbower
        link(rel='stylesheet', href='/assets/css/main.css')
        link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic')
        <!--[if lt IE 8]>
        script(src='//html5shiv.googlecode.com/svn/trunk/html5.js')
        script.
        window.html5 || document.write('<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"><\\/script>')
        <![endif]-->
    body
        .container
            block content
        // bower:js
        script(src='bower_components/jquery/dist/jquery.js')
        script(src='bower_components/angular/angular.js')
        script(src='bower_components/bootstrap/dist/js/bootstrap.js')
        // endbower