//
   Created by andreafspeziale on 08/02/17.
.modal-header
    h3.modal-title.text-center
        | Make Transaction

.modal-body
    .row
        .col-md-12
            p You are going to make a transaction, you must select one of your account.
        .form-horizontal
            .col-md-8.col-md-offset-2
                .spacer-25
                .form-group
                    .col-md-12
                        select.form-control(ng-model="wallet")
                            option(ng-repeat="wallet in wallets", value="{{ wallet }}") {{ wallet }}

            .col-md-12
                p.small.text-center * select one of your accounts
                hr
            .col-md-8.col-md-offset-2
                .form-group
                    .col-md-12
                        input.form-control(type="number", name="txAmount", placeholder="e.g 20" ng-model="txAmount")
            .col-md-12
                p.small.text-center * amount of the transaction
                hr
            .col-md-8.col-md-offset-2
                .form-group
                    .col-md-12
                        input.form-control(type="text", name="txRecipient", placeholder="Recipient address" ng-model="txRecipient")
            .col-md-12
                p.small.text-center * recipient of the transaction

.modal-footer
    button.btn.btn-primary(ng-click="makeTX();")
        | Make TX
    button.btn.btn-warning(ng-click="$close();")
        | Discard