span(ng-controller="MainController")
    .row
        #functions
            span(ng-click="createMultisigModal();")
                .col-md-4.text-center.padding-top-bottom-15
                    .col-md-12
                        i.fa.fa-user-o(aria-hidden="true")
                        h3
                            | Create Multi-signature Account
                        p.small
                            | In order to create a Multi-signature Account a brand new account will be created.
                            | This account must be charged with 25 LSK at least to become a Multi-signature Account.
            a(href="#")
                .col-md-4.text-center.padding-top-bottom-15
                    .col-md-12
                        i.fa.fa-pencil-square-o(aria-hidden="true")
                        h3 Sign Transaction
                        p.small
                            | For both Creation and Transaction of/from the Multi-signature Account you need to sign the creation or transaction with your Public Key.
            a(href="#")
                .col-md-4.text-center.padding-top-bottom-15
                    .col-md-12
                        i.fa.fa-money(aria-hidden="true")
                        h3 Make Transaction
                        p.small
                            | Send a Transaction from your Main Account or Multi-signature Account.