body
	font-size 15px
	font-family 'Open Sans', sans-serif
	font-weight 100

a, a:hover
	text-decoration none
	color: #000

.claim
	font-size 25px

// spacers

.spacer-45
	height 45px

.spacer-25
	height 25px

.padding-top-bottom-15
	padding-top 15px
	padding-bottom 15px

// buttons

.btn:focus
	outline 0

.custom-button, .custom-button:focus, .custom-button:visited
	color #fff
	background-color #1F2532
	border-color #1F2532
	text-decoration none

.custom-button:hover
	color #fff
	background-color #FC4343
	border-color #FC4343

#functions
	i
		font-size 30px
	.col-md-4:hover
		border solid 1px grey








