//
   Created by andreafspeziale on 25/01/17.
span(ng-controller="NodeController")
    .row
        .form-horizontal.col-md-6.col-md-offset-3
            .form-group
                .col-md-12
                    input.form-control(type="text", name="ip", placeholder="Lisk trusted node IP" ng-model="nodeIp")
            .form-group
                .col-md-12
                    input.form-control(type="text", name="port", placeholder="Lisk trusted node PORT" ng-model="nodePort")
            .checkbox
                label
                    input(type="checkbox" ng-model="ssl")
                | SSL
            .form-group
                .col-sm-offset-2.col-sm-10
                    button.btn.custom-button.pull-right(type="text", name="port", placeholder="Lisk trusted node PORT", ng-click="saveNode();")
                        | Next
    .spacer-45
    .row
        .col-md-12.text-center
            p.small * we'll need to communicate with a Lisk trusted node.
                br
                | Add your favorite anc continue with the setup.